<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Addcesta</servlet-name>
        <servlet-class>Controlador.Despachadores.Addcesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItem</servlet-name>
        <servlet-class>Controlador.Despachadores.DeleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detalleservicio</servlet-name>
        <servlet-class>Controlador.Despachadores.Detalleservicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controlador.Despachadores.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Productos</servlet-name>
        <servlet-class>Controlador.Despachadores.Productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agragaruser</servlet-name>
        <servlet-class>Controlador.Despachadores.Agragaruser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarUser</servlet-name>
        <servlet-class>Controlador.Despachadores.ValidarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SesionCliente</servlet-name>
        <servlet-class>Controlador.Despachadores.SesionCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Controlador.Despachadores.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertfactura</servlet-name>
        <servlet-class>Controlador.Despachadores.insertfactura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pagomembrecia</servlet-name>
        <servlet-class>Controlador.Despachadores.pagomembrecia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>solicitudmembrecia</servlet-name>
        <servlet-class>Controlador.Despachadores.solicitudmembrecia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambiopasscli</servlet-name>
        <servlet-class>Controlador.Despachadores.cambiopasscli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SesionOperador</servlet-name>
        <servlet-class>Controlador.Despachadores.SesionOperador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertOrdenoperador</servlet-name>
        <servlet-class>Controlador.Despachadores.InsertOrdenoperador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdenRepartidor</servlet-name>
        <servlet-class>Controlador.Despachadores.OrdenRepartidor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImprimirSolicitud</servlet-name>
        <servlet-class>Controlador.Despachadores.ImprimirSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertOrdenadmin</servlet-name>
        <servlet-class>Controlador.Despachadores.InsertOrdenadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImprimirFactura</servlet-name>
        <servlet-class>Controlador.Despachadores.ImprimirFactura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertOrdenRepartidorEstadoenviado</servlet-name>
        <servlet-class>Controlador.Despachadores.insertOrdenRepartidorEstadoenviado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarusuario</servlet-name>
        <servlet-class>Controlador.Despachadores.modificarusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addusuarioOper</servlet-name>
        <servlet-class>Controlador.Despachadores.addusuarioOper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validarUserOper</servlet-name>
        <servlet-class>Controlador.Despachadores.validarUserOper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autorizarmembrecia</servlet-name>
        <servlet-class>Controlador.Despachadores.autorizarmembrecia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImprimirReporte</servlet-name>
        <servlet-class>Controlador.Despachadores.ImprimirReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarTarifa</servlet-name>
        <servlet-class>Controlador.Despachadores.EditarTarifa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertServicio</servlet-name>
        <servlet-class>Controlador.Despachadores.insertServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inserTarifa</servlet-name>
        <servlet-class>Controlador.Despachadores.inserTarifa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inserCatego</servlet-name>
        <servlet-class>Controlador.Despachadores.inserCatego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarmembrecia</servlet-name>
        <servlet-class>Controlador.Despachadores.actualizarmembrecia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertmembrecia</servlet-name>
        <servlet-class>Controlador.Despachadores.insertmembrecia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarinfouser</servlet-name>
        <servlet-class>Controlador.Despachadores.actualizarinfouser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarCatego</servlet-name>
        <servlet-class>Controlador.Despachadores.editarCatego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>denegarmembresia</servlet-name>
        <servlet-class>Controlador.Despachadores.denegarmembresia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Addcesta</servlet-name>
        <url-pattern>/agregarproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItem</servlet-name>
        <url-pattern>/borrariteml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detalleservicio</servlet-name>
        <url-pattern>/detalleservicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Productos</servlet-name>
        <url-pattern>/productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agragaruser</servlet-name>
        <url-pattern>/agragaruser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarUser</servlet-name>
        <url-pattern>/valuzxzy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SesionCliente</servlet-name>
        <url-pattern>/xyzSesionCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/xyzCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertfactura</servlet-name>
        <url-pattern>/xyzinsertfactura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pagomembrecia</servlet-name>
        <url-pattern>/xyzpagomembrecia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>solicitudmembrecia</servlet-name>
        <url-pattern>/xyzsolicitudmembrecia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambiopasscli</servlet-name>
        <url-pattern>/xyzcambiopasscli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SesionOperador</servlet-name>
        <url-pattern>/xyzSesionOperador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertOrdenoperador</servlet-name>
        <url-pattern>/xyzInsertOrdenoperador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdenRepartidor</servlet-name>
        <url-pattern>/xyzOrdenRepartidor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImprimirSolicitud</servlet-name>
        <url-pattern>/xyzImprimirSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertOrdenadmin</servlet-name>
        <url-pattern>/xyzInsertOrdenadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImprimirFactura</servlet-name>
        <url-pattern>/xyzImprimirFactura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertOrdenRepartidorEstadoenviado</servlet-name>
        <url-pattern>/xyzinsertOrdenRepartidorEstadoenviado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarusuario</servlet-name>
        <url-pattern>/xyzmodificarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addusuarioOper</servlet-name>
        <url-pattern>/xyzaddusuarioOper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validarUserOper</servlet-name>
        <url-pattern>/xyzvalidarUserOper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autorizarmembrecia</servlet-name>
        <url-pattern>/xyzautorizarmembrecia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImprimirReporte</servlet-name>
        <url-pattern>/xyzImprimirReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarTarifa</servlet-name>
        <url-pattern>/xyzEditarTarifa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertServicio</servlet-name>
        <url-pattern>/xyzinsertServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inserTarifa</servlet-name>
        <url-pattern>/xyzinserTarifa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inserCatego</servlet-name>
        <url-pattern>/xyzinserCatego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarmembrecia</servlet-name>
        <url-pattern>/xyzactualizarmembrecia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertmembrecia</servlet-name>
        <url-pattern>/xyzinsertmembrecia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarinfouser</servlet-name>
        <url-pattern>/xyzactualizarinfouser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarCatego</servlet-name>
        <url-pattern>/xyzeditarCatego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>denegarmembresia</servlet-name>
        <url-pattern>/xyzdenegarmembresia</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
